<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<title>HealthCare</title>
		
		
		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href='static/bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/linea.css' >
		<link rel='stylesheet' type='text/css' href='static/css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='static/css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='static/css/style.css' >
		
	</head>
	<body >
		
		<div id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		
		<div class='main-content' style="overflow-y: auto" >
			
			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>
			
			
			
			
			
			<div class='animation-block' ></div><br><br><br>
			
			
			<!--=====================================================
				Sections
			=====================================================-->
			<div class='row' >
			
				
			
				
				
			<div class='section-block contact-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>Diabetes <strong class='color' >Test</strong></h2>
							</div>
							
							
							<div class='row' >
							
								<div class='col-md-12' >
									
									<div class='contact-form' >
									
										<form method="post" action="/send1" >
										
											<div id='contact-form-result' ></div>
										
											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Pregnancies</strong></h5>
														<input type='text' class='form-control' placeholder='Pregnancies' name='d1' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Glucose</strong></h5>
														<input type='text' class='form-control' placeholder='Glucose' name='d2' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Blood Pressure</strong></h5>
														<input type='text' class='form-control' placeholder='Blood Pressure' name='d3' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Skin Thikness</strong></h5>
														<input type='text' class='form-control' placeholder='Skin Thikness' name='d4' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Insulin</strong></h5>
														<input type='text' class='form-control' placeholder='Insulin' name='d5' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >BMI</strong></h5>
														<input type='text' class='form-control' placeholder='BMI' name='d6' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >DPF</strong></h5>
														<input type='text' class='form-control' placeholder='DPF' name='d7' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Age</strong></h5>
														<input type='text' class='form-control' placeholder='Age' name='d8' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>
											
											



											
											<div class='form-group text-center' >
												<button type="submit" name="" value="Submit" class='btn-custom btn-color' >
													Calculate
												</button>
											</div>

											
										</form>
										<h1>Probability: {{ agee }}%</h1>
										
									</div>
									
									
								</div>
								
								
								
								
							</div>
							
							
							
						</div>
					
					
				</div>
			</div>
					
					
					
				</div>
				
			</div>
			
		</div>
		
		
		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src='static/js/jquery.min.js' ></script>
		<script src='static/js/jquery.shuffle.min.js' ></script>
		<script src='static/js/owl.carousel.min.js' ></script>
		<script src='static/js/jquery.magnific-popup.min.js' ></script>
		<script src='static/js/validator.min.js' ></script>
		<script src='static/js/script.js' ></script>
		
	</body>
</html>