<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<title>HealthCare</title>
		
		
		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href='static/bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/linea.css' >
		<link rel='stylesheet' type='text/css' href='static/css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='static/css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='static/css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='static/css/style.css' >
		
	</head>
	<body >
		
		<div id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		
		<div class='main-content' style="overflow-y: auto" >
			
			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>
			
			
			
			
			
			<div class='animation-block' ></div><br><br><br>
			
			
			<!--=====================================================
				Sections
			=====================================================-->
			<div class='row' >
			
				
			
				
				
			<div class='section-block contact-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>Liver <strong class='color' >Test</strong></h2>
							</div>
							
							
							<div class='row' >
							
								<div class='col-md-12' >
									
									<div class='contact-form' >
									
										<form method="post" action="/send2" >
										
											<div id='contact-form-result' ></div>
										
											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Age</strong></h5>
														<input type='text' class='form-control' placeholder='Age' name='l1' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Gender</strong></h5>
														<input type='text' class='form-control' placeholder='Gender' name='l2' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Total Bilirubin</strong></h5>
														<input type='text' class='form-control' placeholder='Total Bilirubin' name='l3' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Direct Bilirubin</strong></h5>
														<input type='text' class='form-control' placeholder='Direct Bilirubin' name='l4' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Alkaline phosphotase</strong></h5>
														<input type='text' class='form-control' placeholder='Alkaline phosphotase' name='l5' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Alamine Aminotransferas</strong></h5>
														<input type='text' class='form-control' placeholder='Alamine Aminotransferas' name='l6' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>

											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Aspartate Aminotransferase</strong></h5>
														<input type='text' class='form-control' placeholder='Aspartate Aminotransferase' name='l7' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>
												
												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >Total  Protiens</strong></h5>
														<input type='text' class='form-control' placeholder='Total  Protiens' name='l8' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
											</div>
											<div class='row' >
												
												<div class='col-md-6' >

													<div class='form-group' >
														<h5><strong class='color' >Albumin</strong></h5>
														<input type='text' class='form-control' placeholder='Albumin' name='l9' required>
														<div class='help-block with-errors' ></div>
														
													</div>												
												</div>

												<div class='col-md-6' >
													<div class='form-group' >
														<h5><strong class='color' >A and B Ratio</strong></h5>
														<input type='text' class='form-control' placeholder='A and B Ratio' name='l10' required>
														<div class='help-block with-errors' ></div>
													
													</div>
												</div>
												
												
											</div>
											
											





											
											<div class='form-group text-center' >
												<button type="submit" name="" value="Submit" class='btn-custom btn-color' >
													Calculate
												</button>
											</div>

											
										</form>
										<h1>Probabilty: {{ agee }}%</h1>
										
									</div>
									
									
								</div>
								
								
								
								
							</div>
							
							
							
						</div>
					
					
				</div>
			</div>
					
					
					
				</div>
				
			</div>
			
		</div>
		
		
		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src='static/js/jquery.min.js' ></script>
		<script src='static/js/jquery.shuffle.min.js' ></script>
		<script src='static/js/owl.carousel.min.js' ></script>
		<script src='static/js/jquery.magnific-popup.min.js' ></script>
		<script src='static/js/validator.min.js' ></script>
		<script src='static/js/script.js' ></script>
		
	</body>
</html>